@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ananda Personal Use';
  src: url('./assets/fonts/Ananda Personal Use.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica Rg Cond';
  src: url('./assets/fonts/Coolvetica Rg Cond.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}